h1 {
    padding: 20px 0 20px 20px;
    text-align: center;
    font-size: 50px;
    background-color: rgb(76, 5, 12);
    font-family: 'Agbalumo';
    margin-bottom: 26px;
    color: whitesmoke;
    }

body{
    background-image: url('../disco.jpg');
    height: auto;
    min-height: 100vh;
    background-size: cover;
}
div{
    color: whitesmoke;
}